* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    
    --gradient1:rgb(248, 204, 251);
    --gradient2:rgb(172, 210, 253);

    --gra1:rgb(255, 249, 244);
    --gra2: rgb(249, 223, 138);
    
}
/*  Font name Dicleration */
.adlam {
    font-family: "ADLaM Display", serif;
    font-weight: 400;
    font-style: normal;
}


.sora {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* card- background */
.card1{
    background: linear-gradient(to bottom right, var(--gradient1), var(--gradient2));
  
}

.card2{
    background: linear-gradient(to bottom right, var(--gra1), var(--gra2)); 
   
}

/* animation */
.animtext{
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 4s steps(50) infinite alternate, blink 800ms steps(30) infinite normal;
    border-right: 1px solid black;
}

@keyframes typewriter {
    from {
        width: 0%;
    }
    to {
        width: 55%; 
    }
}



@keyframes blink {
    from {
        border-color: black;
    }
    to {
        border-color: transparent;
    }
}
